---
BasedOnStyle: LLVM
IndentWidth: 4
SpaceBeforeParens: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left